.App {
    font-family: arial;
    font-size: 24px;
    margin: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
    height: 50%;
    text-align: center;
    align-items: center;
}

