/* .App {
    font-family: arial;
    font-size: 24px;
    margin: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */

/* .container {
    width: 50%;
    height: 50%;
    text-align: center;
    align-items: center;
} */

.container {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    font-family: 'Righteous', cursive;
    margin: 10%;
    align-content: space-between;
    gap: 2%;
  }
  
  .cards {
    align-items: center;
    flex-wrap: wrap;
  }
  
  .connect-wallet-button {
    align-self: flex-end;
  }
  
  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5%;
    /* justify-content: space-evenly; */
    /* align-content: space-around; */
  }

  .card-item {
      margin: 0.5% 0%;
      /* padding: 1%; */
  }